<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>
    <header>
        <h1>Lista de filmes</h1>

        <a href="index.html"><button>HOME</button>
        </a>

        <a href="adicionar_filme.html"><button>ADICIONAR FILME</button>
        </a>
    </header>

    <main>
        <div>
            <ul>
            {% for serie in adicionar %}
            <li>{{ serie[1] }} - {{ serie[2] }} - {{ serie[3] }} - {{ serie[4] }} - {{ serie[5] }}
            <ul>
            <li><a href="/verificar_adicionar/{{ serie[0] }}">EDITAR</a></li>
            </ul>
            </li>
            {% endfor %}
            </ul>
        </div>

        <div>
            <ul>
            {% for filme in filme %} <!-- Loop através de cada contato na lista de contatos -->
            <li>{{ filme[1] }} - {{ filme[2] }} - {{ filme[3] }} - {{ filme[4] }} - {{ filme[5] }}  <!-- Exibe as informações do contato, incluindo o nome, número de telefone e email. Se for favorito, adiciona um marcador -->
                <ul>
                    <li><a href="/apagar_filme/{{ loop.index0 }}">Apagar</a></li> <!-- Link para apagar o contato -->
                </ul>
            </li>
            {% endfor %}
            </ul>
            <a href="/adicionar_filme">Adicionar</a> <!-- Link para adicionar um novo contato -->
        </div>

    </main>

</body>
</html>